.title {
  justify-content: center;
  text-align: center;
  background: #000000;
  color: azure;
}

.content-title {
  justify-content: center;
  text-align: center;
  background: #ffffff;
  color: rgb(0, 0, 0);
}
.main {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.form {
  margin: 10px;
}

.btn-primary {
  background-color: aqua;
  border: solid;
  cursor: pointer;
}

.inventory {
  margin-left: auto;
}

label {
  margin-bottom: 10px;
  color: #00000055;
}

input {
  border: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
